%h1 Choose A Class!

= form_for @character do |f|
  = f.fields_for :mods do |mf|
    = mf.label "Strength"
    = mf.number_field :value
    = mf.hidden_field :modifier, value: 'str'
    = mf.hidden_field "source", value: Mod::BASE_STAT
    = mf.hidden_field "dynamic", value: false
  = f.fields_for :mods do |mf|
    = mf.label "Dexterity"
    = mf.number_field :value
    = mf.hidden_field :modifier, value: 'dex'
    = mf.hidden_field "source", value: Mod::BASE_STAT
    = mf.hidden_field "dynamic", value: false
  = f.fields_for :mods do |mf|
    = mf.label "Constitution"
    = mf.number_field :value
    = mf.hidden_field :modifier, value: 'cha'
    = mf.hidden_field "source", value: Mod::BASE_STAT
    = mf.hidden_field "dynamic", value: false
  = f.fields_for :mods do |mf|
    = mf.label "Wisdom"
    = mf.number_field :value
    = mf.hidden_field :modifier, value: 'wis'
    = mf.hidden_field "source", value: Mod::BASE_STAT
    = mf.hidden_field "dynamic", value: false
  = f.fields_for :mods do |mf|
    = mf.label "Intelligence"
    = mf.number_field :value
    = mf.hidden_field :modifier, value: 'int'
    = mf.hidden_field "source", value: Mod::BASE_STAT
    = mf.hidden_field "dynamic", value: false
  = f.fields_for :mods do |mf|
    = mf.label "Charisma"
    = mf.number_field :value
    = mf.hidden_field :modifier, value: 'cha'
    = mf.hidden_field "source", value: Mod::BASE_STAT
    = mf.hidden_field "dynamic", value: false
  = f.hidden_field :next_step, value: "foo"
  = f.submit
